<div class="main">
    <mat-card class="ticket-card">
        <mat-card-content>
            <h3>Hi,{{getName()}}</h3>
            <p>Payment Successfully Done!!</p>
            <p>Your Ticket Has Been Successfully Booked!!</p>
            <span>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </span>
        </mat-card-content>
    </mat-card>
</div>